---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Features from '../components/Features.astro';
import Vision from '../components/Vision.astro';
import Faq from '../components/Faq.astro';
import Principles from '../components/Principles.astro';
import People from '../components/People.astro';
import zhCN from '../i18n/locales/zh-CN';
---

<Layout title={zhCN.meta.title} description={zhCN.meta.description}>
  <main class="snap-root">
    <Hero />
    <Problem />
    <Features />
    <Vision />
    <Principles />
    <People />
  </main>
</Layout>
